<!doctype html>
<html lang="en" ng-app="AngularFlask">
<head>
	<meta charset="utf-8">
	<title>DCWatch</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/main.css">


	<script src="/static/lib/jquery/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/bootstrap.min.js"></script>



	<script src="/static/lib/angular/new/angular.js"></script>
	<script src="/static/lib/angular/new/angular-resource.js"></script>
	<script src="/static/lib/angular/new/angular-route.js"></script>

	<script src="/static/lib/angular/Chart.min.js"></script>
	<script src="/static/lib/angular/angular-chart.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>
 	<script src="/static/js/filters.js"></script>

</head>
<body>
	<div id="header" class="header navbar navbar-static-top">
		<div class="navbar">
			<div class="container">
				<a class="brand" href="/"><h1>DCWatch</h1></a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="">
							<a href="/">Home</a>
						</li>
						<li cass="">
							<a href="/userslist">Users</a>
						</li>
						<li cass="">
							<a href="/random">Random</a>
						</li>
						<li cass="">
							<a href="/charts">Charts</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container page">
		<div id="content" class="container main" ng-view>
		</div>

	</div>
</body>
</html>
