<style>
	.fancy-ul {
	  list-style: none;
	  padding: 0;
	  width: 500px;
	  margin: 0 auto;
	  margin-bottom: 30px;
	}

	.fancy-li {
	  width: 500px;
	  background-color: white;
	  border-radius: 3px;
	  color: #444;
	  line-height: 2rem;
	  margin-top: 20px;
	  text-align: center;

	}
</style>

<h2 align="center">{{queries.user}}'s last 10 searches</h2>

<ul class="fancy-ul">
	<li class="fancy-li" ng-repeat="query in queries.searches"><b>{{query.created_on | clean_date }}</b> {{query.query}} </li>
</ul>
